# General NodeJS ignores
node_modules/
dist/

# TypeScript tmpfile ignores
*.tsbuildinfo
*.log
.DS_Store
Thumbs.db

# Agents ignores
.omo/
.opencode
AGENTS.md
ref-output/

# Project ignores
test/tmp/
References/

# Project ignores on main
calib/
maps/LN/
maps/RFT/
